
@{
    ViewData["Title"] = "Index";
}

<h2>Jury Selection Portal</h2>
<p>Please enter the number of jurors need for this pool:</p>
<form asp-controller="Home" asp-action="Index" method="post">
    <p>
        <input type="number" asp-for="number" />
    </p>
    <input type="submit" value="Submit" />
</form>



