@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Nrbreneman@gmail.com">Support</a><br />
    <strong>Account Creation:</strong> <a href="mailto:Nrbreneman@gmail.com">Contact us for an Account</a><br />
</address>
