@{
    ViewData["Title"] = "Home Page";
}
@model NumJuror

<h2>Welcom to Iudices Jury Selection Portal!</h2>
<h3>Please login in to make jury selections or contact us to set up your account!</h3>
<strong>Account Creation:</strong> <a href="mailto:Nrbreneman@gmail.com">Contact us for an Account</a><br />
