
@{
    ViewData["Title"] = "AdminHomePage";
}

@{
    if (DateTime.Now.Hour < 12 && DateTime.Now.Hour >= 0)
    {
        <h2>Good Morning!</h2>
    }
    else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 17)
    {
        <h2>Good Afternoon!</h2>
    }
    else if (DateTime.Now.Hour <= 24 && DateTime.Now.Hour >= 17)
    {
        <h2>Good Evening!</h2>
    }
}

